/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 43, ../sass/screen.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* line 52, ../sass/screen.scss */
button, select, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0; }

/* line 64, ../sass/screen.scss */
html, body {
  /* height: 100%; */ }

/* line 68, ../sass/screen.scss */
body {
  font-family: Helvetica, Arial, sans-serif; }

/* line 74, ../sass/screen.scss */
.wrapper {
  /* height: 100%; */ }

/* line 79, ../sass/screen.scss */
.site-header {
  position: relative;
  height: 108px; }
  /* line 84, ../sass/screen.scss */
  .site-header .logo {
    background: url(../images/freegal-logo.png) no-repeat;
    /* width: 146px; */
    width: 350px;
    height: 72px;
    position: absolute;
    left: 40px;
    top: 20px; }
  /* line 98, ../sass/screen.scss */
  .site-header .header-right-col {
    position: absolute;
    right: 40px;
    top: 20px; }
    /* line 106, ../sass/screen.scss */
    .site-header .header-right-col .row-1 {
      margin-bottom: 16px; }
      /* line 112, ../sass/screen.scss */
      .site-header .header-right-col .row-1 .streaming-arrows-icon {
        float: right;
        width: 19px;
        height: 13px;
        background: url(../images/streaming-arrows-icon.png); }
      /* line 120, ../sass/screen.scss */
      .site-header .header-right-col .row-1 .streaming-time-remaining {
        float: right;
        font-size: 12px;
        border-right: 1px solid #dcdcdc;
        padding-right: 10px;
        margin-left: 10px; }
      /* line 129, ../sass/screen.scss */
      .site-header .header-right-col .row-1 .forgot-password {
        float: right;
        color: #cccccc;
        font-size: 10px;
        line-height: 12px;
        margin-left: 10px; }
        /* line 137, ../sass/screen.scss */
        .site-header .header-right-col .row-1 .forgot-password a {
          color: #66ccff;
          text-decoration: none; }
    /* line 145, ../sass/screen.scss */
    .site-header .header-right-col .row-2 {
      width: 900px; }
      /* line 150, ../sass/screen.scss */
      .site-header .header-right-col .row-2 .download-count {
        float: right;
        margin-top: 12px;
        margin-left: 10px; }
      /* line 157, ../sass/screen.scss */
      .site-header .header-right-col .row-2 .music-note-icon {
        float: right;
        width: 33px;
        height: 19px;
        background: url(../images/music-note-icon.png) no-repeat right center;
        margin-top: 9px;
        margin-left: 20px;
        border-left: 1px solid #dcdcdc; }
        @media screen and (max-width: 1305px) {
          /* line 157, ../sass/screen.scss */
          .site-header .header-right-col .row-2 .music-note-icon {
            margin-left: 5px; } }
      /* line 173, ../sass/screen.scss */
      .site-header .header-right-col .row-2 .login {
        float: right;
        background: #d9ebf2;
        font-size: 12px;
        color: #527988;
        -webkit-box-shadow: 0 0 0 1px #b6cbd1;
        -moz-box-shadow: 0 0 0 1px #b6cbd1;
        box-shadow: 0 0 0 1px #b6cbd1;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #daecf2), color-stop(100%, #d3e8f0));
        background-image: -webkit-linear-gradient(#daecf2, #d3e8f0);
        background-image: -moz-linear-gradient(#daecf2, #d3e8f0);
        background-image: -o-linear-gradient(#daecf2, #d3e8f0);
        background-image: linear-gradient(#daecf2, #d3e8f0);
        cursor: pointer;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
        padding: 6px 10px;
        margin: 4px 4px 4px 20px; }
        /* line 27, ../sass/screen.scss */
        .site-header .header-right-col .row-2 .login:hover {
          background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7f3f7), color-stop(100%, #d4e8f0));
          background-image: -webkit-linear-gradient(#e7f3f7, #d4e8f0);
          background-image: -moz-linear-gradient(#e7f3f7, #d4e8f0);
          background-image: -o-linear-gradient(#e7f3f7, #d4e8f0);
          background-image: linear-gradient(#e7f3f7, #d4e8f0); }
        /* line 32, ../sass/screen.scss */
        .site-header .header-right-col .row-2 .login:active {
          background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d3e8f0), color-stop(100%, #d5e9f1));
          background-image: -webkit-linear-gradient(#d3e8f0, #d5e9f1);
          background-image: -moz-linear-gradient(#d3e8f0, #d5e9f1);
          background-image: -o-linear-gradient(#d3e8f0, #d5e9f1);
          background-image: linear-gradient(#d3e8f0, #d5e9f1); }
      /* line 187, ../sass/screen.scss */
      .site-header .header-right-col .row-2 .my-account-menu-container {
        float: right;
        position: relative;
        margin-left: 20px; }
        @media screen and (max-width: 1305px) {
          /* line 187, ../sass/screen.scss */
          .site-header .header-right-col .row-2 .my-account-menu-container {
            margin-left: 0; } }
        /* line 203, ../sass/screen.scss */
        .site-header .header-right-col .row-2 .my-account-menu-container .my-account-menu {
          margin-left: 10px;
          background: url(../images/my-account-icon.png) no-repeat 10px 5px, url(../images/master-search-arrow.png) no-repeat 113px 14px, white;
          padding-left: 40px;
          padding-right: 30px;
          padding-top: 8px;
          padding-bottom: 6px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 5px;
          border: 1px solid transparent;
          cursor: pointer;
          /* @include box-shadow(1px 1px 1px rgba(0,0,0,.3)); */
          margin-top: 3px; }
          @media screen and (max-width: 1305px) {
            /* line 203, ../sass/screen.scss */
            .site-header .header-right-col .row-2 .my-account-menu-container .my-account-menu {
              margin-left: 0; } }
          /* line 222, ../sass/screen.scss */
          .site-header .header-right-col .row-2 .my-account-menu-container .my-account-menu:hover {
            border: 1px solid #dedddd; }
        /* line 228, ../sass/screen.scss */
        .site-header .header-right-col .row-2 .my-account-menu-container .account-menu-dropdown {
          position: absolute;
          left: 10px;
          top: 35px;
          z-index: 100;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 5px;
          border: 1px solid #dedddd;
          width: 218px;
          display: none; }
          @media screen and (max-width: 1305px) {
            /* line 228, ../sass/screen.scss */
            .site-header .header-right-col .row-2 .my-account-menu-container .account-menu-dropdown {
              left: 0; } }
          /* line 244, ../sass/screen.scss */
          .site-header .header-right-col .row-2 .my-account-menu-container .account-menu-dropdown.active {
            display: block; }
          /* line 249, ../sass/screen.scss */
          .site-header .header-right-col .row-2 .my-account-menu-container .account-menu-dropdown .dropdown-item {
            background: #fff; }
            /* line 253, ../sass/screen.scss */
            .site-header .header-right-col .row-2 .my-account-menu-container .account-menu-dropdown .dropdown-item:first-child {
              -moz-border-radius-topleft: 5px;
              -webkit-border-top-left-radius: 5px;
              border-top-left-radius: 5px;
              -moz-border-radius-topright: 5px;
              -webkit-border-top-right-radius: 5px;
              border-top-right-radius: 5px; }
              /* line 257, ../sass/screen.scss */
              .site-header .header-right-col .row-2 .my-account-menu-container .account-menu-dropdown .dropdown-item:first-child a {
                -moz-border-radius-topleft: 5px;
                -webkit-border-top-left-radius: 5px;
                border-top-left-radius: 5px;
                -moz-border-radius-topright: 5px;
                -webkit-border-top-right-radius: 5px;
                border-top-right-radius: 5px; }
            /* line 265, ../sass/screen.scss */
            .site-header .header-right-col .row-2 .my-account-menu-container .account-menu-dropdown .dropdown-item:last-child {
              -moz-border-radius-bottomleft: 5px;
              -webkit-border-bottom-left-radius: 5px;
              border-bottom-left-radius: 5px;
              -moz-border-radius-bottomright: 5px;
              -webkit-border-bottom-right-radius: 5px;
              border-bottom-right-radius: 5px; }
              /* line 269, ../sass/screen.scss */
              .site-header .header-right-col .row-2 .my-account-menu-container .account-menu-dropdown .dropdown-item:last-child a {
                -moz-border-radius-bottomleft: 5px;
                -webkit-border-bottom-left-radius: 5px;
                border-bottom-left-radius: 5px;
                -moz-border-radius-bottomright: 5px;
                -webkit-border-bottom-right-radius: 5px;
                border-bottom-right-radius: 5px; }
            /* line 278, ../sass/screen.scss */
            .site-header .header-right-col .row-2 .my-account-menu-container .account-menu-dropdown .dropdown-item a {
              display: block;
              text-decoration: none;
              color: #212121;
              padding: 10px 5px 10px 35px;
              font-size: 12px; }
              /* line 289, ../sass/screen.scss */
              .site-header .header-right-col .row-2 .my-account-menu-container .account-menu-dropdown .dropdown-item a#notifications {
                background: url(../images/notifications-icon.png) no-repeat 10px center white; }
                /* line 292, ../sass/screen.scss */
                .site-header .header-right-col .row-2 .my-account-menu-container .account-menu-dropdown .dropdown-item a#notifications:hover {
                  background: url(../images/notifications-icon.png) no-repeat 10px center #dcedf3; }
              /* line 301, ../sass/screen.scss */
              .site-header .header-right-col .row-2 .my-account-menu-container .account-menu-dropdown .dropdown-item a#change-password {
                background: url(../images/change-password-icon.png) no-repeat 10px center white; }
                /* line 305, ../sass/screen.scss */
                .site-header .header-right-col .row-2 .my-account-menu-container .account-menu-dropdown .dropdown-item a#change-password:hover {
                  background: url(../images/change-password-icon.png) no-repeat 10px center #dcedf3; }
              /* line 314, ../sass/screen.scss */
              .site-header .header-right-col .row-2 .my-account-menu-container .account-menu-dropdown .dropdown-item a#logout {
                background: url(../images/logout-icon.png) no-repeat 10px center white; }
                /* line 317, ../sass/screen.scss */
                .site-header .header-right-col .row-2 .my-account-menu-container .account-menu-dropdown .dropdown-item a#logout:hover {
                  background: url(../images/logout-icon.png) no-repeat 10px center #dcedf3; }
      /* line 333, ../sass/screen.scss */
      .site-header .header-right-col .row-2 .browse {
        float: right;
        background: #d9ebf2;
        font-size: 12px;
        color: #527988;
        -webkit-box-shadow: 0 0 0 1px #b6cbd1;
        -moz-box-shadow: 0 0 0 1px #b6cbd1;
        box-shadow: 0 0 0 1px #b6cbd1;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #daecf2), color-stop(100%, #d3e8f0));
        background-image: -webkit-linear-gradient(#daecf2, #d3e8f0);
        background-image: -moz-linear-gradient(#daecf2, #d3e8f0);
        background-image: -o-linear-gradient(#daecf2, #d3e8f0);
        background-image: linear-gradient(#daecf2, #d3e8f0);
        cursor: pointer;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
        padding: 6px 20px;
        margin: 4px 4px 4px 20px; }
        /* line 27, ../sass/screen.scss */
        .site-header .header-right-col .row-2 .browse:hover {
          background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7f3f7), color-stop(100%, #d4e8f0));
          background-image: -webkit-linear-gradient(#e7f3f7, #d4e8f0);
          background-image: -moz-linear-gradient(#e7f3f7, #d4e8f0);
          background-image: -o-linear-gradient(#e7f3f7, #d4e8f0);
          background-image: linear-gradient(#e7f3f7, #d4e8f0); }
        /* line 32, ../sass/screen.scss */
        .site-header .header-right-col .row-2 .browse:active {
          background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d3e8f0), color-stop(100%, #d5e9f1));
          background-image: -webkit-linear-gradient(#d3e8f0, #d5e9f1);
          background-image: -moz-linear-gradient(#d3e8f0, #d5e9f1);
          background-image: -o-linear-gradient(#d3e8f0, #d5e9f1);
          background-image: linear-gradient(#d3e8f0, #d5e9f1); }
        @media screen and (max-width: 1305px) {
          /* line 333, ../sass/screen.scss */
          .site-header .header-right-col .row-2 .browse {
            margin: 4px 4px 4px 8px; } }
      /* line 350, ../sass/screen.scss */
      .site-header .header-right-col .row-2 .master-search-container {
        float: right;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
        -webkit-box-shadow: 0 0 0 1px #b6cbd1;
        -moz-box-shadow: 0 0 0 1px #b6cbd1;
        box-shadow: 0 0 0 1px #b6cbd1;
        margin: 4px;
        position: relative;
        width: 450px;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(25%, #fcfcfc), color-stop(90%, #fafafa));
        background-image: -webkit-linear-gradient(#eeeeee, #fcfcfc 25%, #fafafa 90%);
        background-image: -moz-linear-gradient(#eeeeee, #fcfcfc 25%, #fafafa 90%);
        background-image: -o-linear-gradient(#eeeeee, #fcfcfc 25%, #fafafa 90%);
        background-image: linear-gradient(#eeeeee, #fcfcfc 25%, #fafafa 90%); }
        @media screen and (max-width: 1305px) {
          /* line 350, ../sass/screen.scss */
          .site-header .header-right-col .row-2 .master-search-container {
            width: 330px; } }
        /* line 365, ../sass/screen.scss */
        .site-header .header-right-col .row-2 .master-search-container .master-search-select {
          padding: 6px 20px;
          color: #527988;
          font-size: 12px;
          cursor: pointer;
          -moz-border-radius-topleft: 20px;
          -webkit-border-top-left-radius: 20px;
          border-top-left-radius: 20px;
          -moz-border-radius-bottomleft: 20px;
          -webkit-border-bottom-left-radius: 20px;
          border-bottom-left-radius: 20px;
          -moz-border-radius-topright: 0;
          -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
          -moz-border-radius-bottomright: 0;
          -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
          background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #daecf2), color-stop(100%, #d3e8f0));
          background-image: -webkit-linear-gradient(#daecf2, #d3e8f0);
          background-image: -moz-linear-gradient(#daecf2, #d3e8f0);
          background-image: -o-linear-gradient(#daecf2, #d3e8f0);
          background-image: linear-gradient(#daecf2, #d3e8f0);
          width: 130px;
          border-right: 1px solid #b1d3e0; }
          @media screen and (max-width: 1305px) {
            /* line 365, ../sass/screen.scss */
            .site-header .header-right-col .row-2 .master-search-container .master-search-select {
              padding: 6px 12px;
              width: 110px; } }
          /* line 385, ../sass/screen.scss */
          .site-header .header-right-col .row-2 .master-search-container .master-search-select:hover {
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7f3f7), color-stop(100%, #d4e8f0));
            background-image: -webkit-linear-gradient(#e7f3f7, #d4e8f0);
            background-image: -moz-linear-gradient(#e7f3f7, #d4e8f0);
            background-image: -o-linear-gradient(#e7f3f7, #d4e8f0);
            background-image: linear-gradient(#e7f3f7, #d4e8f0); }
        /* line 392, ../sass/screen.scss */
        .site-header .header-right-col .row-2 .master-search-container .master-search-arrow {
          background: url(../images/master-search-arrow.png) no-repeat;
          width: 6px;
          height: 5px;
          position: absolute;
          left: 115px;
          top: 11px; }
          @media screen and (max-width: 1305px) {
            /* line 392, ../sass/screen.scss */
            .site-header .header-right-col .row-2 .master-search-container .master-search-arrow {
              left: 96px; } }
        /* line 407, ../sass/screen.scss */
        .site-header .header-right-col .row-2 .master-search-container .master-search-field-container {
          position: relative;
          display: inline-block;
          width: 315px;
          height: 27px;
          vertical-align: top; }
          @media screen and (max-width: 1305px) {
            /* line 407, ../sass/screen.scss */
            .site-header .header-right-col .row-2 .master-search-container .master-search-field-container {
              width: 215px; } }
          /* line 420, ../sass/screen.scss */
          .site-header .header-right-col .row-2 .master-search-container .master-search-field-container .search-text {
            width: 274px;
            font-size: 12px;
            background: none;
            height: 27px;
            position: absolute;
            top: 0;
            left: 18px; }
            @media screen and (max-width: 1305px) {
              /* line 420, ../sass/screen.scss */
              .site-header .header-right-col .row-2 .master-search-container .master-search-field-container .search-text {
                width: 135px; } }
          /* line 436, ../sass/screen.scss */
          .site-header .header-right-col .row-2 .master-search-container .master-search-field-container .go {
            background: #d9ebf2;
            font-size: 12px;
            color: #527988;
            -webkit-box-shadow: 0 0 0 1px #b6cbd1;
            -moz-box-shadow: 0 0 0 1px #b6cbd1;
            box-shadow: 0 0 0 1px #b6cbd1;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #daecf2), color-stop(100%, #d3e8f0));
            background-image: -webkit-linear-gradient(#daecf2, #d3e8f0);
            background-image: -moz-linear-gradient(#daecf2, #d3e8f0);
            background-image: -o-linear-gradient(#daecf2, #d3e8f0);
            background-image: linear-gradient(#daecf2, #d3e8f0);
            cursor: pointer;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            border-radius: 20px;
            padding: 6px 10px;
            position: absolute;
            right: -1px;
            top: 0; }
            /* line 27, ../sass/screen.scss */
            .site-header .header-right-col .row-2 .master-search-container .master-search-field-container .go:hover {
              background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7f3f7), color-stop(100%, #d4e8f0));
              background-image: -webkit-linear-gradient(#e7f3f7, #d4e8f0);
              background-image: -moz-linear-gradient(#e7f3f7, #d4e8f0);
              background-image: -o-linear-gradient(#e7f3f7, #d4e8f0);
              background-image: linear-gradient(#e7f3f7, #d4e8f0); }
            /* line 32, ../sass/screen.scss */
            .site-header .header-right-col .row-2 .master-search-container .master-search-field-container .go:active {
              background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d3e8f0), color-stop(100%, #d5e9f1));
              background-image: -webkit-linear-gradient(#d3e8f0, #d5e9f1);
              background-image: -moz-linear-gradient(#d3e8f0, #d5e9f1);
              background-image: -o-linear-gradient(#d3e8f0, #d5e9f1);
              background-image: linear-gradient(#d3e8f0, #d5e9f1); }
          /* line 448, ../sass/screen.scss */
          .site-header .header-right-col .row-2 .master-search-container .master-search-field-container .clear-icon {
            position: absolute;
            right: 44px;
            top: 9px;
            background: url(../images/clear-icon.png) no-repeat;
            width: 10px;
            height: 9px; }
        /* line 460, ../sass/screen.scss */
        .site-header .header-right-col .row-2 .master-search-container .search-icon {
          background: url(../images/search-icon.png) no-repeat;
          width: 13px;
          height: 13px;
          position: absolute;
          left: 136px;
          top: 8px; }
          @media screen and (max-width: 1305px) {
            /* line 460, ../sass/screen.scss */
            .site-header .header-right-col .row-2 .master-search-container .search-icon {
              left: 117px; } }

/* line 482, ../sass/screen.scss */
.top-nav {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5cc9ed), color-stop(100%, #4fbde1));
  background-image: -webkit-linear-gradient(#5cc9ed, #4fbde1);
  background-image: -moz-linear-gradient(#5cc9ed, #4fbde1);
  background-image: -o-linear-gradient(#5cc9ed, #4fbde1);
  background-image: linear-gradient(#5cc9ed, #4fbde1);
  position: relative;
  height: 33px;
  border-top: 1px solid #84d7f2;
  border-bottom: 1px solid #a7def0; }
  /* line 489, ../sass/screen.scss */
  .top-nav ul {
    position: absolute;
    right: 40px;
    top: 0; }
    /* line 496, ../sass/screen.scss */
    .top-nav ul li {
      display: block;
      float: left; }
      /* line 501, ../sass/screen.scss */
      .top-nav ul li a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: 13px; }
      /* line 516, ../sass/screen.scss */
      .top-nav ul li:last-child a {
        padding-right: 0; }

/* line 525, ../sass/screen.scss */
.content-wrapper {
  position: relative;
  /* height: 100%; */ }
  /* line 531, ../sass/screen.scss */
  .content-wrapper .left-nav {
    width: 192px;
    /* float: left; */
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 25px;
    padding-top: 26px;
    border-right: 1px solid #e5e5e4;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    height: 100%; }
    /* line 548, ../sass/screen.scss */
    .content-wrapper .left-nav h2 {
      padding-left: 25px;
      margin-bottom: 18px;
      line-height: 20px; }
    /* line 555, ../sass/screen.scss */
    .content-wrapper .left-nav ul {
      margin-left: 25px; }
      /* line 559, ../sass/screen.scss */
      .content-wrapper .left-nav ul li {
        margin-bottom: 20px; }
        /* line 563, ../sass/screen.scss */
        .content-wrapper .left-nav ul li a {
          text-decoration: none;
          color: #9f9f9f; }
    /* line 574, ../sass/screen.scss */
    .content-wrapper .left-nav .browse h2 {
      background: url(../images/left-nav-music-icon.png) no-repeat; }
    /* line 587, ../sass/screen.scss */
    .content-wrapper .left-nav .streaming h2 {
      background: url(../images/left-nav-streaming-icon.png) no-repeat; }
    /* line 597, ../sass/screen.scss */
    .content-wrapper .left-nav .my-downloads h2 {
      background: url(../images/left-nav-download-icon.png) no-repeat; }
    /* line 607, ../sass/screen.scss */
    .content-wrapper .left-nav .announcements h2 {
      background: url(../images/left-nav-announcement-icon.png) no-repeat; }
    /* line 614, ../sass/screen.scss */
    .content-wrapper .left-nav .announcements .announcement {
      background: #eeeeee;
      font-size: 14px;
      padding: 10px; }
      /* line 620, ../sass/screen.scss */
      .content-wrapper .left-nav .announcements .announcement p {
        padding-bottom: 10px; }
      /* line 624, ../sass/screen.scss */
      .content-wrapper .left-nav .announcements .announcement .announcement_header {
        text-decoration: underline;
        font-weight: bold; }
  /* line 633, ../sass/screen.scss */
  .content-wrapper .content {
    background: url(../images/content-bkg.gif) repeat;
    /*
    		position: absolute;
    		left: 218px;
    		top:0;
    		bottom:0;
    		right:0;
    */
    /* padding: 25px; */
    padding: 25px 40px 25px 212px; }
    /* line 649, ../sass/screen.scss */
    .content-wrapper .content .featured-artists, .content-wrapper .content .featured-composers, .content-wrapper .content .featured-themes {
      margin-top: 28px; }
    /* line 658, ../sass/screen.scss */
    .content-wrapper .content .top-albums h2, .content-wrapper .content .featured-artists h2, .content-wrapper .content .featured-composers h2, .content-wrapper .content .featured-themes h2 {
      font-size: 24px; }
    /* line 663, ../sass/screen.scss */
    .content-wrapper .content .top-albums .album-list-container, .content-wrapper .content .featured-artists .album-list-container, .content-wrapper .content .featured-composers .album-list-container, .content-wrapper .content .featured-themes .album-list-container {
      margin-top: 10px;
      height: 226px;
      overflow-y: hidden; }
      /* line 668, ../sass/screen.scss */
      .content-wrapper .content .top-albums .album-list-container ul, .content-wrapper .content .featured-artists .album-list-container ul, .content-wrapper .content .featured-composers .album-list-container ul, .content-wrapper .content .featured-themes .album-list-container ul {
        overflow-y: hidden;
        height: 216px;
        width: 4300px; }
        /* line 673, ../sass/screen.scss */
        .content-wrapper .content .top-albums .album-list-container ul li, .content-wrapper .content .featured-artists .album-list-container ul li, .content-wrapper .content .featured-composers .album-list-container ul li, .content-wrapper .content .featured-themes .album-list-container ul li {
          float: left;
          display: block;
          margin-right: 10px;
          margin-bottom: 10px;
          width: 162px; }
          /* line 681, ../sass/screen.scss */
          .content-wrapper .content .top-albums .album-list-container ul li .album-cover-container, .content-wrapper .content .featured-artists .album-list-container ul li .album-cover-container, .content-wrapper .content .featured-composers .album-list-container ul li .album-cover-container, .content-wrapper .content .featured-themes .album-list-container ul li .album-cover-container {
            width: 162px;
            height: 162px; }
            /* line 686, ../sass/screen.scss */
            .content-wrapper .content .top-albums .album-list-container ul li .album-cover-container img, .content-wrapper .content .featured-artists .album-list-container ul li .album-cover-container img, .content-wrapper .content .featured-composers .album-list-container ul li .album-cover-container img, .content-wrapper .content .featured-themes .album-list-container ul li .album-cover-container img {
              width: 162px;
              height: 162px; }
    /* line 697, ../sass/screen.scss */
    .content-wrapper .content .top-albums .album-info, .content-wrapper .content .featured-artists .album-info, .content-wrapper .content .featured-composers .album-info, .content-wrapper .content .featured-themes .album-info {
      font-size: 14px; }
      /* line 700, ../sass/screen.scss */
      .content-wrapper .content .top-albums .album-info p, .content-wrapper .content .featured-artists .album-info p, .content-wrapper .content .featured-composers .album-info p, .content-wrapper .content .featured-themes .album-info p {
        margin-top: 5px; }
        /* line 704, ../sass/screen.scss */
        .content-wrapper .content .top-albums .album-info p.title, .content-wrapper .content .featured-artists .album-info p.title, .content-wrapper .content .featured-composers .album-info p.title, .content-wrapper .content .featured-themes .album-info p.title {
          font-weight: bold;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        /* line 711, ../sass/screen.scss */
        .content-wrapper .content .top-albums .album-info p.artist, .content-wrapper .content .featured-artists .album-info p.artist, .content-wrapper .content .featured-composers .album-info p.artist, .content-wrapper .content .featured-themes .album-info p.artist {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
    /* line 721, ../sass/screen.scss */
    .content-wrapper .content .top-albums .album-navigation-container, .content-wrapper .content .featured-artists .album-navigation-container, .content-wrapper .content .featured-composers .album-navigation-container, .content-wrapper .content .featured-themes .album-navigation-container {
      background: url(../images/gray-dotted-border.png) bottom repeat-x;
      padding-bottom: 10px;
      margin-top: 10px; }
      /* line 725, ../sass/screen.scss */
      .content-wrapper .content .top-albums .album-navigation-container .album-scroll-left, .content-wrapper .content .featured-artists .album-navigation-container .album-scroll-left, .content-wrapper .content .featured-composers .album-navigation-container .album-scroll-left, .content-wrapper .content .featured-themes .album-navigation-container .album-scroll-left {
        float: left;
        width: 38px;
        height: 38px;
        cursor: pointer;
        background: url(../images/album-scroll-left.png) no-repeat; }
        /* line 733, ../sass/screen.scss */
        .content-wrapper .content .top-albums .album-navigation-container .album-scroll-left:hover, .content-wrapper .content .featured-artists .album-navigation-container .album-scroll-left:hover, .content-wrapper .content .featured-composers .album-navigation-container .album-scroll-left:hover, .content-wrapper .content .featured-themes .album-navigation-container .album-scroll-left:hover {
          background: url(../images/album-scroll-left-hover.png) no-repeat; }
        /* line 737, ../sass/screen.scss */
        .content-wrapper .content .top-albums .album-navigation-container .album-scroll-left:active, .content-wrapper .content .featured-artists .album-navigation-container .album-scroll-left:active, .content-wrapper .content .featured-composers .album-navigation-container .album-scroll-left:active, .content-wrapper .content .featured-themes .album-navigation-container .album-scroll-left:active {
          background: url(../images/album-scroll-left-active.png) no-repeat; }
      /* line 743, ../sass/screen.scss */
      .content-wrapper .content .top-albums .album-navigation-container .album-scroll-right, .content-wrapper .content .featured-artists .album-navigation-container .album-scroll-right, .content-wrapper .content .featured-composers .album-navigation-container .album-scroll-right, .content-wrapper .content .featured-themes .album-navigation-container .album-scroll-right {
        float: right;
        width: 38px;
        height: 38px;
        cursor: pointer;
        background: url(../images/album-scroll-right.png) no-repeat; }
        /* line 750, ../sass/screen.scss */
        .content-wrapper .content .top-albums .album-navigation-container .album-scroll-right:hover, .content-wrapper .content .featured-artists .album-navigation-container .album-scroll-right:hover, .content-wrapper .content .featured-composers .album-navigation-container .album-scroll-right:hover, .content-wrapper .content .featured-themes .album-navigation-container .album-scroll-right:hover {
          background: url(../images/album-scroll-right-hover.png) no-repeat; }
        /* line 754, ../sass/screen.scss */
        .content-wrapper .content .top-albums .album-navigation-container .album-scroll-right:active, .content-wrapper .content .featured-artists .album-navigation-container .album-scroll-right:active, .content-wrapper .content .featured-composers .album-navigation-container .album-scroll-right:active, .content-wrapper .content .featured-themes .album-navigation-container .album-scroll-right:active {
          background: url(../images/album-scroll-right-active.png) no-repeat; }
    /* line 762, ../sass/screen.scss */
    .content-wrapper .content .top-songs {
      margin-top: 20px; }
      /* line 764, ../sass/screen.scss */
      .content-wrapper .content .top-songs h2 {
        font-size: 24px; }
      /* line 769, ../sass/screen.scss */
      .content-wrapper .content .top-songs ol {
        width: 48%;
        margin-top: 20px;
        font-size: 14px; }
        /* line 776, ../sass/screen.scss */
        .content-wrapper .content .top-songs ol.left-col {
          margin-right: 2%;
          float: left; }
          @media screen and (max-width: 1305px) {
            /* line 776, ../sass/screen.scss */
            .content-wrapper .content .top-songs ol.left-col {
              float: none;
              width: 100%;
              margin-right: 0; } }
        /* line 789, ../sass/screen.scss */
        .content-wrapper .content .top-songs ol.right-col {
          float: right; }
          @media screen and (max-width: 1305px) {
            /* line 789, ../sass/screen.scss */
            .content-wrapper .content .top-songs ol.right-col {
              float: none;
              width: 100%;
              margin-right: 0;
              margin-top: 0; } }
        /* line 804, ../sass/screen.scss */
        .content-wrapper .content .top-songs ol li {
          background: url(../images/top-song-border.png) repeat-x;
          height: 35px;
          position: relative; }
          /* line 809, ../sass/screen.scss */
          .content-wrapper .content .top-songs ol li .inner-col {
            float: left;
            position: absolute; }
            /* line 814, ../sass/screen.scss */
            .content-wrapper .content .top-songs ol li .inner-col.ranking {
              margin-top: 10px;
              left: 1%; }
              @media screen and (max-width: 1305px) {
                /* line 814, ../sass/screen.scss */
                .content-wrapper .content .top-songs ol li .inner-col.ranking {
                  left: 1%; } }
            /* line 824, ../sass/screen.scss */
            .content-wrapper .content .top-songs ol li .inner-col.title {
              margin-top: 10px;
              left: 5%;
              width: 38%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              height: 15px; }
              @media screen and (max-width: 1305px) {
                /* line 824, ../sass/screen.scss */
                .content-wrapper .content .top-songs ol li .inner-col.title {
                  left: 4%; } }
            /* line 840, ../sass/screen.scss */
            .content-wrapper .content .top-songs ol li .inner-col.artist {
              margin-top: 10px;
              left: 50%;
              width: 27%;
              height: 15px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
              @media screen and (max-width: 1305px) {
                /* line 840, ../sass/screen.scss */
                .content-wrapper .content .top-songs ol li .inner-col.artist {
                  left: 45%; } }
            /* line 854, ../sass/screen.scss */
            .content-wrapper .content .top-songs ol li .inner-col.time {
              margin-top: 10px;
              right: 70px; }
              @media screen and (max-width: 1305px) {
                /* line 854, ../sass/screen.scss */
                .content-wrapper .content .top-songs ol li .inner-col.time {
                  right: 76px; } }
            /* line 863, ../sass/screen.scss */
            .content-wrapper .content .top-songs ol li .inner-col.top-song-download-icon {
              margin-top: 7px;
              background: url(../images/top-songs-download-icon.png) no-repeat;
              width: 20px;
              height: 20px;
              margin-left: 5px;
              right: 36px; }
              @media screen and (max-width: 1305px) {
                /* line 863, ../sass/screen.scss */
                .content-wrapper .content .top-songs ol li .inner-col.top-song-download-icon {
                  right: 38px; } }
            /* line 878, ../sass/screen.scss */
            .content-wrapper .content .top-songs ol li .inner-col.top-song-play-icon {
              margin-top: 7px;
              margin-left: 5px;
              background: url(../images/top-songs-play-icon.png) no-repeat;
              width: 20px;
              height: 20px;
              right: 10px; }
              @media screen and (max-width: 1305px) {
                /* line 878, ../sass/screen.scss */
                .content-wrapper .content .top-songs ol li .inner-col.top-song-play-icon {
                  right: 10px; } }

/* line 905, ../sass/screen.scss */
footer {
  height: 98px;
  background: url(../images/footer-bkg.gif) repeat;
  color: #000;
  font-size: 12px;
  padding-bottom: 100px; }
  /* line 913, ../sass/screen.scss */
  footer .inner-wrapper {
    height: 98px;
    position: relative;
    width: 1215px;
    margin: 0 auto; }
    /* line 920, ../sass/screen.scss */
    footer .inner-wrapper .legal {
      position: absolute;
      left: 75px;
      top: 25px; }
    /* line 926, ../sass/screen.scss */
    footer .inner-wrapper .footer-nav {
      position: absolute;
      right: 0;
      top: 25px; }
      /* line 932, ../sass/screen.scss */
      footer .inner-wrapper .footer-nav li {
        display: block;
        float: left; }
        /* line 937, ../sass/screen.scss */
        footer .inner-wrapper .footer-nav li a {
          display: block;
          padding-left: 6px;
          padding-right: 6px;
          color: #000;
          text-decoration: none;
          border-right: 1px solid #000; }
        /* line 947, ../sass/screen.scss */
        footer .inner-wrapper .footer-nav li:last-child a {
          border-right: 0; }
    /* line 954, ../sass/screen.scss */
    footer .inner-wrapper .languages {
      position: absolute;
      right: 0;
      top: 60px; }
      /* line 960, ../sass/screen.scss */
      footer .inner-wrapper .languages li {
        display: block;
        float: left; }
        /* line 965, ../sass/screen.scss */
        footer .inner-wrapper .languages li a {
          display: block;
          padding-left: 6px;
          padding-right: 6px;
          color: #000;
          text-decoration: none; }
        /* line 975, ../sass/screen.scss */
        footer .inner-wrapper .languages li:nth-child(2) a, footer .inner-wrapper .languages li:nth-child(3) a, footer .inner-wrapper .languages li:nth-child(4) a {
          border-right: 1px solid #000; }

/* line 987, ../sass/screen.scss */
.fmp-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #666;
  height: 100px; }
