tmp/*
config/database.php
.DS_Store
/app/config/database.php
/app/tmp
webroot/img/Thumbs.db
webroot/img/artistimg/Thumbs.db
webroot/img/featuredimg/Thumbs.db
webroot/img/internet_explorer/Thumbs.db
webroot/img/newartistimg/Thumbs.db
webroot/img/libraryimg/*
webroot/img/artistimg/*
webroot/img/featuredimg/*
webroot/img/newartistimg/*
webroot/img/internet_explorer/*
webroot/min/tmp/*
webroot/sony_reports/*
webroot/cron/config.php
webroot/cron/config_ioda.php
config/config.php
webroot/suggestion_xml/*

/config/core.php
webroot/uploads/*.xls
webroot/uploads/*.csv
webroot/uploads/*.txt


/nbproject/private/
*.scssc

*.scssc

webroot/.sass-cache/8bcde7e82c18b8c17d21bcef1e330cbd65088869/freegal40.scssc
