@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

.clr {
	clear:both;
}
img {
	border: 0px;
}

body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #fff url(../img/background.png) repeat-x;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: #666666;
}

#container { 
	width: 965px;
	margin: 0 auto;
	text-align: left;
}

#header {
	width: 965px;
	height: 132px;
}

#header_title {
	float:left;
	font: 24px bold;
	margin: 35px 0 0 10px;
}
#header_title a {
	text-decoration:none;
	color:#666666;
}

#header_image {
	float:right;
	margin: 30px 10px 0 0;
}

#navigation {
	height: 36px;
	background: #0099FF;
}

.logout {
	float:right;
	padding: 9px 10px;
	color: #FFF;
}

a.logout {
	text-decoration:none;
}

a.logout:hover {
	text-decoration: none;
	background: #333366;
}

#content {
	min-height: 500px;
	background: #FFF;
}

#login {
	width: 300px;
	height: 200px;
	background: #F3F3F3;
	border-top: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
	margin:100px auto 0px;
	display:block;
}

#login label {
	display:block;
	width: 100px;
	float: left;
	margin-top:10px;
	margin-left:20px;
}

#login input {
	width: 150px;
	float:right;
	margin-top:10px;
	margin-right:20px;
}

.loginbox {
	margin-top:50px;
}
#footer {
	font-size:10px;
	float:left;
	margin:10px 0 0 10px;
}

.message {
	margin-left:10px;
}

.error_message {
	margin-left:10px;
	background:none repeat scroll 0 0 #FF0000;
	color:#FFFFFF;
	font-weight:bold;
	font-size: 15px;
	margin:10px;
	padding:5px;
}

.success_message {
	margin-left:10px;
	background:none repeat scroll 0 0 #0099FF;
	color:#FFFFFF;
	font-weight:bold;
	font-size: 15px;
	margin:10px;
	padding:5px;
}

/* Form */
#content form fieldset {margin: 0 10px 0 10px; padding:0; _padding-top:0; border:0px solid #e0e0e0;}
#content form fieldset legend {padding:0; _margin-bottom:10px;font-size: 24px; color: #0099FF; font-weight: normal;}
/* #content form fieldset input, #content fieldset select {margin:0;} */
#content form fieldset textarea {width:95%;}
#content form fieldset label input {margin-bottom:0;}
#content form p.submit input {padding:0 10px; margin-bottom:0;}

/* Tables */
#content table {width:98%;}
.formFieldsbox table {width:98%;}
#content table#list, #content table.info {border:1px solid #e0e0e0; border-collapse:collapse;margin-top:25px;}
#content table#list th {border-bottom:1px solid #e0e0e0;}
#content table#list th, #content table.info th {background-color:#f5f5f5; }
#content table#list th, #content table#list td {padding:5px 10px; text-align:center;}
#content table#list th.left, #content table#list td.left {float:none; text-align:left;}
#content table#list tr.even td {background-color:#ecf5fb;}
#content table.info th, #content table.info td {border:1px solid #ccc;}
#content table.info th, #content table.info td {padding:5px 10px; text-align:left;}
#content table.info th.center, #content table.info td.center {text-align:center;}
.modal {
   width: 350px;
   padding: 60px;
   margin: 50px 50px;
   color:blue;
  }

  .success {
    border: 1px solid #004000;
  }

  .problem {
    border: 1px solid #800000;
  }

/** Debugging **/
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #ff0;
	padding: 4px;
}
div.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
div.code-coverage-results div.covered span.content {
	background:#cec;
}
div.code-coverage-results div.ignored span.content {
	color:#aaa;
}
div.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
div.code-coverage-results span.line-num strong {
	color:#666;
}
div.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
div.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
div.code-coverage-results div.realstart {
	margin-top:0px;
}
div.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
div.code-coverage-results span.result-bad {
	color: #a00;
}
div.code-coverage-results span.result-ok {
	color: #fa0;
}
div.code-coverage-results span.result-good {
	color: #0a0;
}

/** containers **/
div.form,
div.index,
div.view {
	float:right;
	width:76%;
	border-left:1px solid #666;
	padding:10px 2%;
}
div.actions {
	float:left;
	width:16%;
	padding:10px 1.5%;
}
div.actions h3 {
	padding-top:0;
	color:#777;
}
div.formFieldsContainer {
	border: 1px solid #e0e0e0;
/*	width: 885px;*/
	height: auto;
	margin-top: 25px;
	float: left;
}
div.formStepsbox {
	height: 40px;
	float: left;
}
div.active_step {
	border-right: 1px solid #B4B4B4;
	font-weight: bold;
	font-size: 14px;
	padding: 12px;
/*	width: auto;*/
	float: left;
	cursor: pointer;
	color: #0099FF;
}
div.inactive_step {
	border-right: 1px solid #B4B4B4;
	background: #fff url(../img/background.png) repeat-x scroll 0 -54px;
	font-weight: bold;
	font-size: 14px;
	padding: 12px 14px;
/*	width: auto;*/
	float: left;
	cursor: pointer;
}
div.formFieldsbox {
	float: left;
/*	width: 843px;*/
	height: 100%;
	padding: 10px;
}
div.form_steps {
	display: block;
	float: left;
/*	width: 843px;*/
}
div.form_steps > h1 {
	margin: 5px 20px;
	font-size: 20px;
	font-weight: normal;
	color: #000000;
}
label {
/*	margin: 0 0 0 20px;*/
	font-size: 12px;
	font-weight: normal;
}
.formFieldsbox label {
	margin: 0 0 0 20px;
	font-size: 12px;
	font-weight: normal;
}
.form_fields {
	margin: 0 0 0 20px;
}
.select_fields {
	margin: 0 0 0 20px;
	width: 150px;
}
.radio_fields {
	margin: 20px 10px 20px 0;
	float: left;
}
.radio_div {
	width:50px;
	height:50px;
	float: left;
	margin: 0 30px 0 0;
}
.error-message {
	font-size:12px;
	font-weight:normal;
	margin:0 0 0 20px;
	color: #FF0000;
}

/**  Actions  **/
div.actions ul {
	margin: 0;
	padding: 0;
}
div.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
div.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}
div.actions ul li a:hover {
	text-decoration: none;
}

input[type=submit],
div.actions ul li a,
td.actions a {
	font-size: 14px;
	font-weight:normal;
	padding: 0px 8px;
	background:#eeeeee;
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	color:#333;
	border:1px solid #ccc;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	text-decoration:none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
}
input[type=submit]:hover,
div.actions ul li a:hover,
td.actions a:hover {
	background: #e1e1e1;
	background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#c1c1c1));
}
.colorpicker .inputcolor {
    width: 70px;
}

.colorpicker .samplebox {
    border: 1px solid #000;
    display: inline;
    cursor: pointer;
}
.reportsTable {
	font-size:12px;
}