@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

.clr {
	clear:both;
}
img {
	border: 0px;
}

body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #fff url(../img/background.png) repeat-x;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: #666666;
}

#container { 
	width: 965px;
	margin: 0 auto;
	text-align: left;
}

#header {
	width: 965px;
	height: 132px;
}

#header_title {
	float:left;
	font: 24px bold;
	margin: 35px 0 0 10px;
}
#header_title a {
	text-decoration:none;
	color:#666666;
}

#header_image {
	float:right;
	margin: 30px 10px 0 0;
}

#navigation {
	height: 36px;
	background: #0099FF;
}

.logout {
	float:right;
	padding: 9px 10px;
	color: #FFF;
}

a.logout {
	text-decoration:none;
}

a.logout:hover {
	text-decoration: none;
	background: #333366;
}

#content {
	min-height: 500px;
	background: #FFF;
}

#login {
	width: 300px;
	height: 200px;
	background: #F3F3F3;
	border-top: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
	margin:100px auto 0px;
	display:block;
}

#login label {
	display:block;
	width: 100px;
	float: left;
	margin-top:10px;
	margin-left:20px;
}

#login input {
	width: 150px;
	float:right;
	margin-top:10px;
	margin-right:20px;
}

.loginbox {
	margin-top:50px;
}
#footer {
	font-size:10px;
	float:left;
	margin:10px 0 0 10px;
}

.message {
	margin-left:10px;
}

.error_message {
	margin-left:10px;
	background:none repeat scroll 0 0 #FF0000;
	color:#FFFFFF;
	font-weight:bold;
	font-size: 15px;
	margin:10px;
	padding:5px;
}

.success_message {
	margin-left:10px;
	background:none repeat scroll 0 0 #0099FF;
	color:#FFFFFF;
	font-weight:bold;
	font-size: 15px;
	margin:10px;
	padding:5px;
}

/* Form */
#content form fieldset {margin: 0 10px 10px 10px; padding:0; _padding-top:0; border:0px solid #e0e0e0;}
#content form fieldset legend {padding:0; _margin-bottom:10px;font-size: 24px; color: #0099FF; font-weight: normal;}
/* #content form fieldset input, #content fieldset select {margin:0;} */
#content form fieldset textarea {width:95%;}
#content form fieldset label input {margin-bottom:0;}
#content form p.submit input {padding:0 10px; margin-bottom:0;}

/* Tables */
#content table {width:98%;}
.formFieldsbox table {width:98%;}
#content table#list, #content table.info {border:1px solid #e0e0e0; border-collapse:collapse;margin-top:25px;}
#content table#list th {border-bottom:1px solid #e0e0e0;}
#content table#list th, #content table.info th {background-color:#f5f5f5; }
#content table#list th, #content table#list td {padding:5px 10px; text-align:left;font-size:14px}
#content table#list th.left, #content table#list td.left {float:none; text-align:left;}
#content table#list tr.even td {background-color:#ecf5fb;}
#content table.info th, #content table.info td {border:1px solid #ccc;}
#content table.info th, #content table.info td {padding:5px 10px; text-align:left;}
#content table.info th.center, #content table.info td.center {text-align:center;}
.modal {
   width: 350px;
   padding: 60px;
   margin: 50px 50px;
   color:blue;
  }

  .success {
    border: 1px solid #004000;
  }

  .problem {
    border: 1px solid #800000;
  }

/** Debugging **/
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #ff0;
	padding: 4px;
}
div.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
div.code-coverage-results div.covered span.content {
	background:#cec;
}
div.code-coverage-results div.ignored span.content {
	color:#aaa;
}
div.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
div.code-coverage-results span.line-num strong {
	color:#666;
}
div.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
div.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
div.code-coverage-results div.realstart {
	margin-top:0px;
}
div.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
div.code-coverage-results span.result-bad {
	color: #a00;
}
div.code-coverage-results span.result-ok {
	color: #fa0;
}
div.code-coverage-results span.result-good {
	color: #0a0;
}

/** containers **/
div.form,
div.index,
div.view {
	float:right;
	width:76%;
	border-left:1px solid #666;
	padding:10px 2%;
}
div.actions {
	float:left;
	width:16%;
	padding:10px 1.5%;
}
div.actions h3 {
	padding-top:0;
	color:#777;
}
div.formFieldsContainer {
	border: 1px solid #e0e0e0;
	width: 100%;
	height: auto;
	margin-top: 25px;
	float: left;
}
div.formStepsbox {
	height: 40px;
	float: left;
}
div.active_step {
	border-right: 1px solid #B4B4B4;
	font-weight: bold;
	font-size: 14px;
	padding: 12px;
/*	width: auto;*/
	float: left;
	cursor: pointer;
	color: #0099FF;
}
div.inactive_step {
	border-right: 1px solid #B4B4B4;
	background: #fff url(../img/background.png) repeat-x scroll 0 -54px;
	font-weight: bold;
	font-size: 14px;
	padding: 12px 14px;
/*	width: auto;*/
	float: left;
	cursor: pointer;
}
div.formFieldsbox {
	float: left;
	width: 100%;
/*	width: 843px;*/
	height: 100%;
	padding: 10px;
}
div.form_steps {
	display: block;
	float: left;
	width: 100%;
/*	width: 843px;*/
}
div.form_steps > h1 {
	margin: 5px 20px;
	font-size: 20px;
	font-weight: normal;
	color: #000000;
}
label {
/*	margin: 0 0 0 20px;*/
	font-size: 12px;
	font-weight: normal;
}
.formFieldsbox label {
	margin: 0 0 0 20px;
	font-size: 12px;
	font-weight: normal;
}
.form_fields {
	margin: 0 0 0 20px;
}
.select_fields {
	margin: 0 0 0 20px;
	width: 210px;
}
.radio_fields {
	margin: 20px 10px 20px 0;
	float: left;
}
.radio_div {
	width:50px;
	height:50px;
	float: left;
	margin: 0 30px 0 0;
}
.error-message {
	font-size:12px;
	font-weight:normal;
	margin:0 0 0 20px;
	color: #FF0000;
}

/**  Actions  **/
div.actions ul {
	margin: 0;
	padding: 0;
}
div.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
div.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}
div.actions ul li a:hover {
	text-decoration: none;
}

input[type=submit],input[type=button],
div.actions ul li a,
td.actions a {
	font-size: 14px;
	font-weight:normal;
	padding: 0px 8px;
	background:#eeeeee;
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	color:#333;
	border:1px solid #ccc;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	text-decoration:none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
}
input[type=submit]:hover,
div.actions ul li a:hover,
td.actions a:hover {
	background: #e1e1e1;
	background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#c1c1c1));
}
.colorpicker .inputcolor {
    width: 70px;
}

.colorpicker .samplebox {
    border: 1px solid #000;
    display: inline;
    cursor: pointer;
}
.reportsTable {
	font-size:12px;
}

/** Questions Tables **/
.questions table, .sections table, .related table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
.questions th, .sections th, .related th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
.questions th a, .sections th a, .related th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
.questions th a.asc:after, .sections th a.asc:after, .related th a.asc:after {
	content: ' ⇣';
}
.questions th a.desc:after, .sections th a.desc:after, .related th a.desc:after {
	content: ' ⇡';
}
.questions table tr td, .sections table tr td, .related table tr td {
	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
.questions table tr:nth-child(2n) td, .sections table tr:nth-child(2n) td, .related table tr:nth-child(2n) td {
	background: #e9f7fd;
}
.questions table .altrow td, .sections table .altrow td, .related table .altrow td {
	background: #e9f7fd;
}
.questions td.actions, .sections td.actions, .related td.actions {
	text-align: center;
	white-space: nowrap;
}
.questions table td.actions a, .sections table td.actions a, .related table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}

/** Scaffold View **/
.questions dl, .sections dl, .related dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 100%;
}
.questions dl .altrow, .sections dl .altrow, .related dl .altrow {
	background: #e9f7fd;
}
.questions dt, .sections dt, .related dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
.questions dd, .sections dd, .related dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/** Forms **/
.questions form, .sections form, .related form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
.questions fieldset, .sections fieldset, .related fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 16px 20px;
}
.questions fieldset legend, .sections fieldset legend, .related fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 100%;
	font-weight: bold;
}
.questions fieldset fieldset, .sections fieldset fieldset, .related fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
.questions fieldset fieldset legend, .sections fieldset fieldset legend, .related fieldset fieldset legend {
	font-size: 100%;
	font-weight: normal;
}
.questions fieldset fieldset div, .sections fieldset fieldset div, .related fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
.questions form div, .sections form div, .related form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
.questions form .input, .sections form .input, .related form .input {
	color: #444;
}
.questions form .required, .sections form .required, .related form .required {
	font-weight: bold;
}
.questions form .required label:after, .sections form .required label:after, .related form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
.questions form div.submit, .sections form div.submit, .related form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
.questions label, .sections label, .related label {
	display: block;
	font-size: 100%;
	margin-bottom:3px;
}
.questions input, textarea, .sections input, textarea, .related input, textarea {
	clear: both;
	/*font-size: 100%;
		font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;*/
/*	padding: 1%;*/
	width:98%;
}
.questions select, .sections select, .related select {
	clear: both;
	font-size: 80%;
	vertical-align: text-bottom;
}
.questions select[multiple=multiple], .sections select[multiple=multiple], .related select[multiple=multiple] {
	width: 100%;
}
.questions option, .sections option, .related option {
	font-size: 100%;
	padding: 0 3px;
}
.questions input[type=checkbox], .sections input[type=checkbox], .related input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
.questions div.checkbox label, .sections div.checkbox label, .related div.checkbox label {
	display: inline;
}
.questions input[type=radio], .sections input[type=radio], .related input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
.questions div.radio label, .sections div.radio label, .related div.radio label {
	margin: 0 0 6px 20px;
}
.questions input[type=submit], .sections input[type=submit], .related input[type=submit] {
	display: inline;
	font-size: 90%;
	width: auto;
}
.questions form .submit input[type=submit], .sections form .submit input[type=submit], .related form .submit input[type=submit] {
	background:#eeeeee;
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	border-color: #ccc;
	color: #000;
/*	text-shadow: #8cee7c 0px 1px 0px;*/
}
.questions form .submit input[type=submit]:hover, .sections form .submit input[type=submit]:hover, .related form .submit input[type=submit]:hover {
	background:#e1e1e1;
	background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#c1c1c1));
	background-image: -moz-linear-gradient(top, #e1e1e1, #e1e1e1);
}

.questions a, .sections a, .related a {
	text-decoration: underline;
	color: #000;
}

.related h3, .related table {
	margin-left:10px;
}
.left a:link, .left a:visited, .left a:active {
		text-decoration: none;
		color:#666;
		
}
#sort_arrow {
	background:url(../img/arrow_updown.png) no-repeat scroll 0px 3px;
	color:#FFFFFF !important;
	width:11px;
	height:11px;
}
.libalign {
	#padding-left: 60px !important;
}
.libselect {
	#padding-left: 80px !important;
}
#library_search {
	font-size:14px;
	clear:both;
	width:945px;
	height:20px;
	display:block;
}
#library_search a:link {
	text-decoration: underline;
	color:#666;
}
#library_search a:visited {
	text-decoration: underline;
	color:#666;
}
#library_search a:active{
	text-decoration: underline;
	color:#666;
}

	#content table {width:98%;}

.purchaseWrapper h1{
    color: #000000;
    font-size: 20px;
    font-weight: normal;
    margin: 5px 20px;    
}

.purchaseWrapper {
    float:left;
    width:100%;
    padding-bottom: 15px;
}

.purchase_download{
    float:left;
    width:50%;
}
.purchase_streaming{
    float:left;
    width:50%;
}

.purchase_streaming label {
    float: left;
    min-width: 200px;
    text-align: right;
}

.purchase_download label {
    float: left;
    min-width: 200px;
    text-align: right;
}
.purchase_div input {
    float: left;
    width: 200px;
}
.purchase_div {
    clear: both;
    float: left;
    margin: 0 0 10px;
    width: 500px;    
}

.lib_type {
    margin: 10px;
}

#LibraryShowContract {
    width: 20px;
    position: relative;
}

.unlmtd {
    left: 9px;
    position: relative;
}

.clr{
    clear:both !important;
}

#ShowContract {
    width: 20px;
    position: relative;
}

.purchase_div > button {
    left: 9px;
    position: relative;
}

#next_btn5{
    float: right;
    left: -30px;
    position: relative;        
}

.album_territory{
    
    
}

.album_territory_left{
    float: left;
    left: 247px;
    position: relative;    
}

.album_territory_left{
    
}

.album_clear{
    clear: both;    
}
.album_wrap{
    
}
.album_wrap legend {
    color: #09f;
    font-size: 24px;
    font-weight: normal;
    padding: 0;
}
.album_list{
    border: 1px solid #e0e0e0;
    left: 11px;
    position: relative;
    width: 915px;
}
.album_header{
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: left;
    width: 895px;
}

.album_artist{
    float: left;
    width: 20%;    
}

.album_terr{
    float: left;
    width: 20%;   
}
.album_name{
    float: left;
    width: 40%;   
}
.album_edit{
    float: left;
    width: 10%;    
}
.album_delet{
    float: left;
    width: 10%;    
    
}
.album_header_inner{
    float: left;
    padding: 5px 10px;
    text-align: left;
    width: 895px;
    color:#666;
}

.album_artist_inner{
    float: left;
    width: 20%;    
}

.album_terr_inner{
    float: left;
    width: 20%;   
}
.album_name_inner{
    float: left;
    width: 40%;   
}
.album_edit_inner{
    float: left;
    width: 10%;    
}
.album_delet_inner{
    float: left;
    width: 10%;    
    
}
.manage_album{
    
}