/*
		#carousel-prev {
			background: url(../img/news/date-filter-left-arrow.png) no-repeat center center;
			display: block;
			height: 24px;
			left: 410px;
			position: absolute;
			top:0;
			width: 5px;
		}
		
		
		.carousel-wrapper {
			
			overflow: hidden;
			width: 385px;
			margin-left: 412px;
			
		}
		.months-carousel {
			height: 24px;
			//left: 425px;
			left: 0;

			position: relative;
			top: 0;
			width: 1035px;
			
			li {
				.box-sizing;
				display: block;
				float: left;
				
				text-align: center;
				
				a {
					color: #9f9f9f;
					display: block;
					font-size: 12px;
					font-style: italic;
					line-height: 24px;
					padding-left: 20px;
					padding-right: 20px;
					text-decoration: none;
					
					
					&.active {
						color: #000;
						
					}
				}
			}
		}
		
		#carousel-next {
			background: url(../img/news/date-filter-right-arrow.png) no-repeat center center;
			display: block;
			height: 24px;
			right: 20px;
			position: absolute;
			top:0;
			width: 5px;				
			
		}
		
		*/