/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 10, ../sass/screen.scss */
body {
  font-family: Arial,Helvetica,sans-serif; }

/* line 14, ../sass/screen.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* line 24, ../sass/screen.scss */
.inner-wrapper, .content-wrapper {
  width: 1024px;
  margin: 0 auto;
  position: relative; }

/* line 32, ../sass/screen.scss */
.top-nav {
  background: #52c6ec; }
  /* line 35, ../sass/screen.scss */
  .top-nav ul {
    float: right; }
  /* line 40, ../sass/screen.scss */
  .top-nav li {
    display: block;
    float: left; }
    /* line 45, ../sass/screen.scss */
    .top-nav li a {
      display: block;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      padding: 10px;
      font-size: 14px; }

/* line 57, ../sass/screen.scss */
.left-nav {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 20px;
  width: 156px;
  border-right: 1px solid #e5e5e4;
  height: 100%; }
  /* line 65, ../sass/screen.scss */
  .left-nav h2 {
    padding-bottom: 10px; }
  /* line 73, ../sass/screen.scss */
  .left-nav > ul > li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.35);
    display: block;
    padding-bottom: 10px; }

/* line 88, ../sass/screen.scss */
.content {
  padding-left: 177px;
  padding-top: 20px; }
  /* line 92, ../sass/screen.scss */
  .content .breadcrumbs {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 18px; }
  /* line 99, ../sass/screen.scss */
  .content h3 {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px; }
  /* line 106, ../sass/screen.scss */
  .content .genres-page {
    border: 1px solid #d3d3d3; }
    /* line 108, ../sass/screen.scss */
    .content .genres-page header {
      height: 34px;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
      background-image: -webkit-linear-gradient(#f9f9f9, #e9e9e9);
      background-image: -moz-linear-gradient(#f9f9f9, #e9e9e9);
      background-image: -o-linear-gradient(#f9f9f9, #e9e9e9);
      background-image: linear-gradient(#f9f9f9, #e9e9e9);
      position: relative;
      border-bottom: 1px solid #d3d3d3;
      color: #000; }
      /* line 122, ../sass/screen.scss */
      .content .genres-page header .genres-header, .content .genres-page header .a-z-header, .content .genres-page header .artist-header {
        height: 34px;
        color: #000;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #717171;
        font-size: 12px;
        font-weight: bold;
        padding-top: 13px;
        float: left; }
      /* line 136, ../sass/screen.scss */
      .content .genres-page header .genres-header {
        width: 224px;
        padding-left: 24px;
        border-right: 1px solid #d3d3d3; }
      /* line 144, ../sass/screen.scss */
      .content .genres-page header .a-z-header {
        width: 85px;
        border-right: 1px solid #d3d3d3;
        padding-left: 29px; }
      /* line 152, ../sass/screen.scss */
      .content .genres-page header .artist-header {
        width: 536px;
        padding-left: 17px; }
    /* line 165, ../sass/screen.scss */
    .content .genres-page .genre-filter-container div {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      /* line 169, ../sass/screen.scss */
      .content .genres-page .genre-filter-container div li {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        /* line 173, ../sass/screen.scss */
        .content .genres-page .genre-filter-container div li:nth-child(odd) {
          background: #f7f7f7; }
        /* line 178, ../sass/screen.scss */
        .content .genres-page .genre-filter-container div li:nth-child(even) {
          background: #f2f2f2; }
        /* line 183, ../sass/screen.scss */
        .content .genres-page .genre-filter-container div li:hover {
          background: #bde6f3; }
        /* line 188, ../sass/screen.scss */
        .content .genres-page .genre-filter-container div li a {
          display: block;
          font-size: 12px;
          text-decoration: none;
          color: #707070;
          position: relative; }
          /* line 197, ../sass/screen.scss */
          .content .genres-page .genre-filter-container div li a.active {
            font-weight: bold;
            color: #000;
            background: #bde6f3; }
            /* line 203, ../sass/screen.scss */
            .content .genres-page .genre-filter-container div li a.active::before {
              background: url(../images/genre-row-selected.png);
              content: "";
              position: absolute;
              left: 8px;
              top: 5px;
              width: 11px;
              height: 11px; }
    /* line 220, ../sass/screen.scss */
    .content .genres-page .genre-filter-container .genre-column {
      float: left;
      width: 224px;
      height: 616px;
      overflow-y: scroll;
      border-right: 1px solid #d3d3d3; }
      /* line 230, ../sass/screen.scss */
      .content .genres-page .genre-filter-container .genre-column li a {
        padding: 5px 5px 5px 24px; }
    /* line 237, ../sass/screen.scss */
    .content .genres-page .genre-filter-container .alpha-artist-list-column {
      float: left;
      height: 616px;
      width: 85px;
      overflow-y: scroll;
      border-right: 1px solid #d3d3d3; }
      /* line 247, ../sass/screen.scss */
      .content .genres-page .genre-filter-container .alpha-artist-list-column li a {
        padding: 5px 5px 5px 38px; }
    /* line 255, ../sass/screen.scss */
    .content .genres-page .genre-filter-container .artist-column {
      float: left;
      width: 536px;
      height: 616px;
      overflow-y: scroll; }
      /* line 265, ../sass/screen.scss */
      .content .genres-page .genre-filter-container .artist-column li a {
        padding: 5px 5px 5px 17px; }
