/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 13, ../sass/screen.scss */
body {
  font-family: Arial,Helvetica,sans-serif; }

/* line 17, ../sass/screen.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* line 27, ../sass/screen.scss */
button {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  border: 0;
  cursor: pointer;
  outline: 0; }

/* line 37, ../sass/screen.scss */
.inner-wrapper, .content-wrapper {
  width: 1024px;
  margin: 0 auto;
  position: relative; }

/* line 45, ../sass/screen.scss */
.top-nav {
  background: #52c6ec; }
  /* line 48, ../sass/screen.scss */
  .top-nav ul {
    float: right; }
  /* line 53, ../sass/screen.scss */
  .top-nav li {
    display: block;
    float: left; }
    /* line 58, ../sass/screen.scss */
    .top-nav li a {
      display: block;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      padding: 10px;
      font-size: 14px; }

/* line 70, ../sass/screen.scss */
.left-nav {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 20px;
  width: 156px;
  border-right: 1px solid #e5e5e4;
  height: 100%; }
  /* line 78, ../sass/screen.scss */
  .left-nav h2 {
    padding-bottom: 10px; }
  /* line 86, ../sass/screen.scss */
  .left-nav > ul > li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.35);
    display: block;
    padding-bottom: 10px; }

/* line 101, ../sass/screen.scss */
.content {
  padding-left: 177px;
  padding-top: 20px;
  min-height: 2000px; }
  /* line 105, ../sass/screen.scss */
  .content .breadcrumbs {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 18px; }
  /* line 112, ../sass/screen.scss */
  .content h3 {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px; }
  /* line 119, ../sass/screen.scss */
  .content .genres-page {
    border: 1px solid #d3d3d3; }
    /* line 121, ../sass/screen.scss */
    .content .genres-page header {
      height: 34px;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
      background-image: -webkit-linear-gradient(#f9f9f9, #e9e9e9);
      background-image: -moz-linear-gradient(#f9f9f9, #e9e9e9);
      background-image: -o-linear-gradient(#f9f9f9, #e9e9e9);
      background-image: linear-gradient(#f9f9f9, #e9e9e9);
      position: relative;
      border-bottom: 1px solid #d3d3d3;
      color: #000; }
      /* line 136, ../sass/screen.scss */
      .content .genres-page header .genres-header, .content .genres-page header .a-z-header, .content .genres-page header .artist-header {
        height: 34px;
        color: #000;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 12px;
        font-weight: bold;
        padding-top: 13px;
        float: left; }
      /* line 150, ../sass/screen.scss */
      .content .genres-page header .genres-header {
        width: 224px;
        padding-left: 24px;
        border-right: 1px solid #d3d3d3; }
      /* line 158, ../sass/screen.scss */
      .content .genres-page header .a-z-header {
        width: 85px;
        border-right: 1px solid #d3d3d3;
        padding-left: 29px; }
      /* line 166, ../sass/screen.scss */
      .content .genres-page header .artist-header {
        width: 536px;
        padding-left: 17px; }
    /* line 179, ../sass/screen.scss */
    .content .genres-page .genre-filter-container div {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      /* line 183, ../sass/screen.scss */
      .content .genres-page .genre-filter-container div li {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        /* line 187, ../sass/screen.scss */
        .content .genres-page .genre-filter-container div li:nth-child(odd) {
          background: #f7f7f7; }
        /* line 192, ../sass/screen.scss */
        .content .genres-page .genre-filter-container div li:nth-child(even) {
          background: #f2f2f2; }
        /* line 197, ../sass/screen.scss */
        .content .genres-page .genre-filter-container div li:hover {
          background: #bde6f3; }
        /* line 202, ../sass/screen.scss */
        .content .genres-page .genre-filter-container div li a {
          display: block;
          font-size: 12px;
          text-decoration: none;
          color: #707070;
          position: relative; }
          /* line 211, ../sass/screen.scss */
          .content .genres-page .genre-filter-container div li a.active {
            font-weight: bold;
            color: #000;
            background: #bde6f3; }
            /* line 217, ../sass/screen.scss */
            .content .genres-page .genre-filter-container div li a.active::before {
              background: url(../images/genre-row-selected.png);
              content: "";
              position: absolute;
              left: 8px;
              top: 5px;
              width: 11px;
              height: 11px; }
    /* line 234, ../sass/screen.scss */
    .content .genres-page .genre-filter-container .genre-column {
      float: left;
      width: 224px;
      height: 616px;
      overflow-y: scroll;
      border-right: 1px solid #d3d3d3; }
      /* line 251, ../sass/screen.scss */
      .content .genres-page .genre-filter-container .genre-column li a {
        padding: 5px 5px 5px 24px; }
    /* line 258, ../sass/screen.scss */
    .content .genres-page .genre-filter-container .alpha-artist-list-column {
      float: left;
      height: 616px;
      width: 85px;
      overflow-y: scroll;
      border-right: 1px solid #d3d3d3; }
      /* line 265, ../sass/screen.scss */
      .content .genres-page .genre-filter-container .alpha-artist-list-column li {
        text-align: center; }
        /* line 268, ../sass/screen.scss */
        .content .genres-page .genre-filter-container .alpha-artist-list-column li a {
          padding: 5px 5px 5px; }
    /* line 277, ../sass/screen.scss */
    .content .genres-page .genre-filter-container .artist-column {
      float: left;
      width: 536px;
      height: 616px;
      overflow-y: scroll; }
      /* line 283, ../sass/screen.scss */
      .content .genres-page .genre-filter-container .artist-column ul {
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms; }
      /* line 290, ../sass/screen.scss */
      .content .genres-page .genre-filter-container .artist-column li a {
        padding: 5px 5px 5px 17px; }
    /* line 299, ../sass/screen.scss */
    .content .genres-page .genre-button-container {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
      background-image: -webkit-linear-gradient(#f9f9f9, #e9e9e9);
      background-image: -moz-linear-gradient(#f9f9f9, #e9e9e9);
      background-image: -o-linear-gradient(#f9f9f9, #e9e9e9);
      background-image: linear-gradient(#f9f9f9, #e9e9e9);
      height: 34px;
      border-top: 1px solid #d3d3d3;
      position: relative; }
      /* line 304, ../sass/screen.scss */
      .content .genres-page .genre-button-container .genre-scroll-up {
        background: url(../images/btn-scroll-down.png);
        width: 30px;
        height: 20px;
        position: absolute;
        left: 10px;
        top: 8px; }
        /* line 313, ../sass/screen.scss */
        .content .genres-page .genre-button-container .genre-scroll-up:hover {
          background: url(../images/btn-scroll-down.png) -30px 0; }
        /* line 317, ../sass/screen.scss */
        .content .genres-page .genre-button-container .genre-scroll-up:active {
          background: url(../images/btn-scroll-down.png) -60px 0; }
      /* line 323, ../sass/screen.scss */
      .content .genres-page .genre-button-container .genre-scroll-down {
        background: url(../images/btn-scroll-up.png);
        width: 30px;
        height: 20px;
        position: absolute;
        left: 50px;
        top: 8px; }
        /* line 331, ../sass/screen.scss */
        .content .genres-page .genre-button-container .genre-scroll-down:hover {
          background: url(../images/btn-scroll-up.png) -30px 0; }
        /* line 335, ../sass/screen.scss */
        .content .genres-page .genre-button-container .genre-scroll-down:active {
          background: url(../images/btn-scroll-up.png) -60px 0; }
      /* line 341, ../sass/screen.scss */
      .content .genres-page .genre-button-container .artist-scroll-up {
        background: url(../images/btn-scroll-down.png);
        width: 30px;
        height: 20px;
        position: absolute;
        left: 330px;
        top: 8px; }
        /* line 350, ../sass/screen.scss */
        .content .genres-page .genre-button-container .artist-scroll-up:hover {
          background: url(../images/btn-scroll-down.png) -30px 0; }
        /* line 354, ../sass/screen.scss */
        .content .genres-page .genre-button-container .artist-scroll-up:active {
          background: url(../images/btn-scroll-down.png) -60px 0; }
      /* line 360, ../sass/screen.scss */
      .content .genres-page .genre-button-container .artist-scroll-down {
        background: url(../images/btn-scroll-up.png);
        width: 30px;
        height: 20px;
        position: absolute;
        left: 370px;
        top: 8px; }
        /* line 368, ../sass/screen.scss */
        .content .genres-page .genre-button-container .artist-scroll-down:hover {
          background: url(../images/btn-scroll-up.png) -30px 0; }
        /* line 372, ../sass/screen.scss */
        .content .genres-page .genre-button-container .artist-scroll-down:active {
          background: url(../images/btn-scroll-up.png) -60px 0; }

/* line 381, ../sass/screen.scss */
.fmp-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: url(../images/player-bkg.jpg) repeat;
  height: 100px;
  text-align: center; }
