/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/appearance";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/opacity";




@mixin header-button-style {
	

	background:#d9ebf2;
	font-size:12px;
	color: #527988;
	@include box-shadow(0 0 0 1px #b6cbd1);
	@include background-image(linear-gradient(#daecf2, #d3e8f0));
	cursor: pointer;
	
	&:hover {
		
		@include background-image(linear-gradient(#e7f3f7, #d4e8f0));
	}
	
	&:active {
		
		@include background-image(linear-gradient(#d3e8f0, #d5e9f1));
	}


}




.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

button,select,input {
	
	@include appearance(none);
	padding: 0;
	border: 0;
	margin: 0;
	outline: 0;
	cursor: pointer;
}



html,body {
	
	/* height: 100%; */
}
body {
	
	font-family: Helvetica, Arial, sans-serif;
}




.site-header {
	position: relative;
	height: 108px;
	

	.logo {
		
		
		
		width: 350px;
		height: 72px;
		position: absolute;
		left: 40px;
		top:20px;
		background: url(../images/freegal-logo.png) no-repeat;
		
		

	}
	
	.header-right-col {
		
		position: absolute;
		right: 40px;
		top:20px;
		

		
		.row-1 {
			
			
			margin-bottom: 16px;
			
			
			.streaming-arrows-icon {
				
				float: right;
				width: 19px;
				height: 13px;
				background: url(../images/freegal_sprite.png) no-repeat;
				
			}
			
			.streaming-time-remaining {
				
				float: right;
				font-size: 12px;
				border-right: 1px solid #dcdcdc;
				padding-right: 10px;
				margin-left: 10px;
			}
			
			.forgot-password {
				
				float: right;
				color:#cccccc;
				font-size: 10px;
				line-height: 12px;
				margin-left: 10px;
				
				a {
					
					color:#66ccff;
					text-decoration: none;
				}
			}
		}
		
		.row-2 {
			
			
			width: 900px;
			
			.download-count-container {
				float: right;
				border-left: 1px solid #dcdcdc;
				position: relative;
				width: 66px;
				height: 30px;
				.music-note-icon {
					
					width: 15px;
					height: 19px;
					background: url(../images/freegal_sprite.png) no-repeat -50px 0;
					position: absolute;
					left: 12px;
					top:6px;
					@media screen and (max-width:1305px) {
						
						margin-left: 5px;
					}
				}
				
				.download-count {
					
					position: absolute;
					right: 0;
					top:8px;
				}
				
			}

			

			
			.login {
				
				float: right;
				@include header-button-style;
				@include border-radius(20px);
				padding:6px 10px;

				margin: 4px 4px 4px 20px;
				


				
			}
			
			.my-account-menu-container {
				
				float: right;
				position: relative;
				
				
				margin-left: 20px;
				margin-right: 5px;
				width: 145px;
				height: 30px;
				
				
				@media screen and (max-width:1305px) {
					
					margin-left: 0;
				}
				
				

				
				.my-account-menu {
					
					

					width: 145px;
					height: 30px;
					@include border-radius(5px);
					border: 1px solid transparent;
					cursor: pointer;
					background: #fff;
					position: relative;
					
					&::before {
						
						position: absolute;
						content: "";
						width: 18px;
						height: 18px;
						background: url(../images/freegal_sprite.png) no-repeat -20px 0;
						left: 10px;
						top:6px;
					}
					
					&::after {
						position: absolute;
						content: "";
						width: 6px;
						height: 4px;
						background: url(../images/freegal_sprite.png) no-repeat -40px 0;
						right: 16px;
						top:14px;						
						
					}
					
					@media screen and (max-width:1305px) {
						
						margin-left: 0;
					}
					
					&:hover {
						
						border: 1px solid #dedddd;
					}
				}
				

				
				.account-menu-dropdown {
					
					position: absolute;
					left: 0;
					top:35px;
					z-index: 100;
					@include border-radius(5px);
					border: 1px solid #dedddd;
					width: 218px;
					display: none;
					
					@media screen and (max-width:1305px) {
						
						left: 0;
					}
					
					&.active {
						
						display: block;
					}
					
					.dropdown-item {
						
						background: #fff;
						
						&:first-child {
							@include border-top-left-radius(5px);
							@include border-top-right-radius(5px);
							
							a {
								
								@include border-top-left-radius(5px);
								@include border-top-right-radius(5px);	
							}
							
						}
						
						&:last-child {
							@include border-bottom-left-radius(5px);
							@include border-bottom-right-radius(5px);
							
							a {
								
								@include border-bottom-left-radius(5px);
								@include border-bottom-right-radius(5px);	
							}
							
							
						}
						
						a {
							
							display: block;
							text-decoration: none;
							color: #212121;
							padding: 10px 5px 10px 35px;
							
							font-size: 12px;
							
							position: relative;
							
							&#notifications {

								
								&::before {
									
									position: absolute;
									left: 10px;
									top: 10px;
									width: 13px;
									height: 10px;
									content: "";
									background: url(../images/freegal_sprite.png) no-repeat -120px 0;
								}
								
								

								&:hover {
									
									background: #dcedf3;
									&::before {
										position: absolute;
										left: 10px;
										top: 10px;
										width: 13px;
										height: 10px;
										content: "";
										background: url(../images/freegal_sprite.png) no-repeat -135px 0;
										
									}
									
								}

								
							}
							
							&#change-password {
								
						
							
								&::before {
									
									position: absolute;
									left: 10px;
									top:8px;
									width: 11px;
									height: 13px;
									content: "";
									background: url(../images/freegal_sprite.png) no-repeat -150px 0;
								}
								
								&:hover {
									background: #dcedf3;
									
									&::before {
										
										position: absolute;
										left: 10px;
										top:8px;
										width: 11px;
										height: 13px;
										content: "";
										background: url(../images/freegal_sprite.png) no-repeat -165px 0;
									}
									
									
								}								
								
							}
							
							&#logout {
								
								
								&::before {
									
									position: absolute;
									left: 10px;
									top:8px;
									width: 10px;
									height: 13px;
									content: "";
									background: url(../images/freegal_sprite.png) no-repeat -180px 0;
								}
								
								&:hover {
									background: #dcedf3;
									&::before {
										
										position: absolute;
										left: 10px;
										top:8px;
										width: 10px;
										height: 13px;
										content: "";
										background: url(../images/freegal_sprite.png) no-repeat -190px 0;
									}
									
									
								}	
								
							}
						}						
					}

				}
				

			}
			
			.browse {
				
				float: right;
				@include header-button-style;
				@include border-radius(20px);

				padding:6px 20px;

				margin: 4px 4px 4px 20px;
				
				@media screen and (max-width:1305px) {
					margin: 4px 4px 4px 8px;
					
				}
				
			}
			
			.master-search-container {
				float: right;
				@include border-radius(20px);
				@include box-shadow(0 0 0 1px #b6cbd1);
				margin: 4px;
				position: relative;
				width: 450px;
				
				@include background-image(linear-gradient(#eee, #fcfcfc 25%, #fafafa 90%));
				
				@media screen and (max-width:1305px) {
					
					width: 330px;
				}
				
				.master-search-select {
					
					padding: 6px 20px;
					color: #527988;
					font-size: 12px;
					cursor:pointer;
					@include border-top-left-radius(20px);
					@include border-bottom-left-radius(20px);
					@include border-top-right-radius(0);
					@include border-bottom-right-radius(0);
					@include background-image(linear-gradient(#daecf2, #d3e8f0));
					width: 130px;
					border-right: 1px solid #b1d3e0;
					
					@media screen and (max-width:1305px) {
						
						padding: 6px 12px;
						width: 110px;
					}
					
					&:hover {
		
						@include background-image(linear-gradient(#e7f3f7, #d4e8f0));
					}
					
				}

				
				&::before {
					
					position: absolute;
					width: 6px;
					height: 5px;
					left: 115px;
					top:11px;
					background: url(../images/freegal_sprite.png) no-repeat -40px 0;
					content: "";
					
					@media screen and (max-width:1305px) {
						
						left: 94px;
					}
				}
				
				&::after {
					
					
					background: url(../images/freegal_sprite.png) no-repeat -105px 0;
					
					width: 13px;
					height: 13px;
					position: absolute;
					left: 136px;
					top: 8px;
					content: "";
					
					@media screen and (max-width:1305px) {
						
						left: 117px;
					}					

				}
				
				.master-search-field-container {
					
					
					position: relative;
					display: inline-block;
					width: 315px;
					height: 27px;
					vertical-align: top;
					
					@media screen and (max-width:1305px) { 
						width: 215px;
					}
					
					.search-text {
						
						width: 274px;
						font-size: 12px;
						background: none;
						height: 27px;
						position: absolute;
						top:0;
						left: 18px;
						
						@media screen and (max-width:1305px) { 
							width: 135px;
						}

					}
					
					.go {
						@include header-button-style;
						@include border-radius(20px);
						padding: 6px 10px;
						position: absolute;
						right: -1px;
						top:0;


						
					}
					

					
				}
				

				
			}
		}
		

	}
}

.top-nav {
	@include background-image(linear-gradient(#5cc9ed, #4fbde1));
	position: relative;
	height: 33px;
	border-top:1px solid #84d7f2;
	border-bottom: 1px solid #a7def0;
	
	ul {
		
		
		position: absolute;
		right: 40px;
		top:0;
		
		li {
			
			display: block;
			float: left;
			
			a {
				
				display: block;
				color:#fff;
				text-decoration: none;
				padding: 10px;
				text-align: center;
				text-transform: uppercase;
				font-size: 13px;
				

			}
			
			&:last-child {
				
				a {
					padding-right: 0;
				}
			}
		}
	}
	
}

.content-wrapper {
	
	
	position: relative;
	
	.left-nav {
		
		
		width: 192px;
		position: absolute;
		left: 0;
		top:0;
		padding-left: 25px;
		padding-top: 26px;
		border-right: 1px solid #e5e5e4;
		padding-right: 10px;
		@include box-sizing(border-box);
		background: #fff;
		height: 100%;
		
		h2 {
			
			padding-left: 25px;
			margin-bottom: 15px;
			line-height: 20px;
			font-size: 15px;
		}
				
		> .streaming > ul,> .my-downloads > ul {
		
			margin-left: 25px;
			
			li {
			
				margin-bottom: 15px;
				
				a {
					
					text-decoration: none;
					color: #9f9f9f;
					font-size: 15px;
					
					
				}
			}
		}
		


		
		.streaming {
			
			h2 {
				
				
				position: relative;
				
				
				&::before {
					
					content: "";
					position: absolute;
					left: 0;
					top:3px;
					background: url(../images/freegal_sprite.png) no-repeat 0 0;
					width: 19px;
					height: 13px;
				}

			}
			
			li {
			
				ul {
					margin-left: 20px;
					margin-top: 10px;
					display: none;
					
					&.active {
						
						display: block;
					}
					
					li {
						
						margin-bottom: 10px;
					}
					
				}
			}
		}
		
		.my-downloads {
			
			h2 {
				
				position: relative;
				&::before {
					
					position: absolute;
					content: "";
					left: 0;
					top:0;
					background: url(../images/freegal_sprite.png) no-repeat -70px 0;
					width: 20px;
					height: 17px;
				}

			}
		}
		
		.announcements {
			
			h2 {
				position: relative;

				&::before {
					
					position: absolute;
					content: "";
					left: 0;
					top:0;
					background: url(../images/freegal_sprite.png) no-repeat -90px 0;
					width: 14px;
					height: 18px;
				}			

			}
			
			.announcement {
				
				background: #eeeeee;
				font-size: 14px;
				padding: 10px;
				
				p {
					
					padding-bottom: 10px;
				}
				.announcement_header {
					
					text-decoration: underline;
					font-weight: bold;
				}
			}
		}
	}
	
	.content {
		
		background: url(../images/content-bkg.gif) repeat;

		padding:25px 40px 25px 212px;

		.featured-artists,.featured-composers,.featured-themes {
			
			margin-top: 28px;
		}
		
		.top-albums,.featured-artists,.featured-composers,.featured-themes {
		
			position: relative;
			
			h2 {
				
				font-size: 24px;
			}
			
			.top-albums-carousel-container {
				
				position: relative;
				
				.left-scroll-button {
					
					width: 39px;
					height: 162px;
					position: absolute;
					left: 0;
					top:0;
					background: url(../images/carousel-sprite.png) 0 0;
					
					&:hover {
						background: url(../images/carousel-sprite.png) -39px 0;
						
					}
					
					&:active {
						background: url(../images/carousel-sprite.png) -78px 0;
						
					}

				}
				
				.right-scroll-button {
					
					width: 39px;
					height: 162px;
					position: absolute;
					right: 0;
					top:0;
					
					
					background: url(../images/carousel-sprite.png) -195px 0;
					
					&:hover {
						
						background: url(../images/carousel-sprite.png) -156px 0;
					}
					
					&:active {
						
						background: url(../images/carousel-sprite.png) -117px 0;
					}
				}
				
				.top-albums-carousel {
					
					margin-top: 10px;
					margin-left: 48px;
					margin-right: 48px;
					height: 226px;
					overflow-y: hidden;
					position: relative;
					
					

					
					ul {
						overflow-y: hidden;
						height: 216px;
						width: 4300px;
						
						li {
							
							float: left;
							display: block;
							margin-right: 10px;
							margin-bottom: 10px;
							width: 162px;
							
							.album-cover-container {
								
								width: 162px;
								height: 162px;
								
								img {
									
									width: 162px;
									height: 162px;
									@include box-shadow(0 0 4px rgba(0,0,0,.5));
									
								}
							}
						}
					}
					
					
						
	
					
				}
				
				
			}

			

			
			.album-info {
				font-size: 14px;
				
				p {
					
					margin-top: 5px;
					
					&.title {
						font-weight: bold;	
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						font-size: 13px;
					}
					
					&.artist {
						
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						color:rgba(0,0,0,.5);
						font-size: 12px;						
					}
				}

			}
			

		}
		
		.top-songs {
			margin-top: 20px;
			padding-bottom: 500px;
			h2 {
				
				font-size: 24px;
				
			}
			ol {
				
				width: 48%;
				
				margin-top: 20px;
				font-size: 13px;
				
				&.left-col {
					
					margin-right: 2%;
					float: left;
					
					@media screen and (max-width:1305px) {
						
						float: none;
						width: 100%;
						margin-right: 0;
					}
				}
				
				&.right-col {
					
					float: right;
					
					
					@media screen and (max-width:1305px) {
						
						float: none;
						width: 100%;
						margin-right: 0;
						margin-top: 0;
					}
				}
				
				
				li {
					

					height: 35px;
					position: relative;
					
					&:nth-child(odd) {
						background: url(../images/top-singles-bkg-odd.png) repeat-x;
						
					}
					
					&:nth-child(even) {
						background: url(../images/top-singles-bkg-even.png) repeat-x;
						
					}
					.inner-col {
						
						float: left;
						position: absolute;
						
						&.ranking {
							
							margin-top: 10px;
							left: 1%;
							@media screen and (max-width:1305px) {
								left: 1%;
								
							}
							
						}
						&.title {
							
							margin-top: 10px;
							left: 5%;
							width: 38%;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							height: 15px;
							@media screen and (max-width:1305px) {
								
								left: 4%;
							}							
							

						}
						&.artist {
							margin-top: 10px;
							left: 50%;
							width: 27%;
							height: 15px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							@media screen and (max-width:1305px) {
								
								left: 45%;
							}
						}
						
						&.time {
							margin-top: 10px;
							right: 70px;
							@media screen and (max-width:1305px) {
								right: 76px;
								
							}
						}
						
						&.top-song-download-icon {
							margin-top: 7px;
							
							
							background: url(../images/freegal_sprite.png) no-repeat 0 -50px;
							width: 20px;
							
							height: 20px;
							margin-left: 5px;
							right: 36px;
							cursor:pointer;
							
							&:hover {
								background: url(../images/freegal_sprite.png) no-repeat -20px -50px;
								
							}
							
							&:active {
								background: url(../images/freegal_sprite.png) no-repeat -40px -50px;
								
							}
							@media screen and (max-width:1305px) {
								right: 38px;
								
							}
						}
						
						&.top-song-play-icon {
							margin-top: 7px;
							margin-left: 5px;
							
							width: 20px;

							height: 20px;
							right: 10px;
							
							cursor: pointer;
							
							background: url(../images/freegal_sprite.png) no-repeat -60px -50px;
							&:hover {
								background: url(../images/freegal_sprite.png) no-repeat -80px -50px;
								
							}
							
							&:active {
								background: url(../images/freegal_sprite.png) no-repeat -100px -50px;
								
							}
							@media screen and (max-width:1305px) {
								
								right: 10px;
							}
						}
					}
					


				}
			}

			

			
		}
	}
}

footer {
	
	height: 98px;
	background: url(../images/footer-bkg.gif) repeat;
	color: #000;
	font-size: 12px;
	padding-bottom: 100px;
	
	.inner-wrapper {
		
		height: 98px;
		position: relative;
		width: 1215px;
		margin: 0 auto;
		
		.legal {
			position: absolute;
			left: 75px;
			top:25px;
		}
		
		.footer-nav {
		
			position: absolute;
			right: 0;
			top:25px;
			
			li {
				
				display: block;
				float: left;
				
				a {
					
					display: block;
					padding-left: 6px;
					padding-right: 6px;
					color: #000;
					text-decoration: none;
					border-right: 1px solid #000;
				}
				
				&:last-child a {
					
					border-right: 0;
				}
			}
		}
		
		.languages {
		
			position: absolute;
			right: 0;
			top:60px;
			
			li {
				
				display: block;
				float: left;
				
				a {
					
					display: block;
					padding-left: 6px;
					padding-right: 6px;
					color: #000;
					text-decoration: none;
					
				}
				
				&:nth-child(2) a,&:nth-child(3) a,&:nth-child(4) a {
					
					border-right: 1px solid #000;
				}
			}
			
			
			
		}
	}
}

.fmp-container {
	
	position: fixed;
	bottom:0;
	width: 100%;
	background: url(../images/player-bkg.jpg) repeat;
	height: 100px;
	text-align: center;	

	
}




