.clear-icon {
	
	position: absolute;
	right: 44px;
	top: 9px;
	background: url(../images/clear-icon.png) no-repeat;
	width: 10px;
	height: 9px;
}


		.browse {
			
			h2 {
				
				background: url(../images/left-nav-music-icon.png) no-repeat;



			}
			

		}