.clear-icon {
	
	position: absolute;
	right: 44px;
	top: 9px;
	background: url(../images/clear-icon.png) no-repeat;
	width: 10px;
	height: 9px;
}


		.browse {
			
			h2 {
				
				background: url(../images/left-nav-music-icon.png) no-repeat;



			}
			

		}
		
		
		
		
		
			.album-navigation-container {
				
				
				padding-bottom: 10px;
				margin-top: 10px;
				
				position: relative;
				
				&::before {
					
					position: absolute;
					width: 100%;
					bottom:0;
					left: 0;
					height: 3px;
					content: "";
					background: url(../images/gray-dotted-border-rpt.png) bottom repeat-x;
					@include opacity(.5);
				}
				.album-scroll-left {
					
					float: left;
					width: 30px;
					height: 30px;
					cursor: pointer;
					
					
					background: url(../images/freegal_sprite.png) no-repeat 0 -20px;
					
					&:hover {
						
						
						
						background: url(../images/freegal_sprite.png) no-repeat -30px -20px;
					}
					&:active {
						
						
						
						background: url(../images/freegal_sprite.png) no-repeat -60px -20px;
					}
				}
				
				.album-scroll-right {
					
					float: right;
					width: 30px;
					height: 30px;
					cursor: pointer;
					
					background: url(../images/freegal_sprite.png) no-repeat -90px -20px;
					&:hover {
						
						background: url(../images/freegal_sprite.png) no-repeat -120px -20px;
					}
					&:active {
						
						background: url(../images/freegal_sprite.png) no-repeat -150px -20px;
					}
				}
			}