/* Necessary CSS */
.slider	{ overflow:hidden; position:relative; width: 463px;}
.slider ul { margin:0; padding:0; }
.slider li { float:left; margin:0 5px 0 0; list-style:none; }
/* IE6 issues */
.slider ul { width:100%; margin-left: 15px; }

/* custom styles */
.slider li {
	
	display: block;
}
.slider li a  {
	color: rgba(0,0,0,.3);
	display: block;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	line-height: 24px;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
}

.slider li a.active {
	
	color: rgb(0,0,0);
}



.controls {
	
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	z-index: 100;
}

.controls a {
	display: block;
	text-indent: -9999px;
	width: 16px;
	height: 11px;
	

}


.prev-slide {
	
	background: url(../../img/news/date-filter-left-arrow.png) no-repeat center center;
	float: left;
	margin-left: 0;
	padding: 6px 5px 5px 5px;
}

.next-slide {
	background: url(../../img/news/date-filter-right-arrow.png) no-repeat center center;

	float: right;
	/* margin-right: 14px; */
	padding:6px 0 5px 5px;
	
}


.slider {
	
	/*margin-left: 440px;*/
	z-index: 100;
}

