/* Necessary CSS */
.slider	{ overflow:hidden; position:relative;}
.slider ul { margin:0; padding:0; }
.slider li { float:left; margin:0 5px 0 0; list-style:none; }
/* IE6 issues */
.slider ul { width:100%; }